<style>
    h1 {
      font size=60px;
      color:hotpink;
      border-bottom: 10px dotted purple;
    } 
    h2 {
      font size=50px;
      font-style:italic;
    }
    h3 {
      font size=30px;
      color:grey;
      font-weight:bold;
    } 
    p {
      font size=20px;
    }
    ul {
      border: 5px solid purple;
      background  color: #eeeeee;
    }
    </style>
